html {
  height: 100%;
}

body {
  margin: 0;
  /* Растягиваем body по высоте html */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.faceflake {
  z-index: -1;
}

@-webkit-keyframes olegies-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes olegies-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes olegies-fall{0%{top:-10%}100%{top:100%}}@keyframes olegies-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.faceflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:olegies-fall,olegies-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:olegies-fall,olegies-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.faceflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.faceflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.faceflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.faceflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.faceflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.faceflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.faceflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.faceflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.faceflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.faceflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.faceflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.faceflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -10;
  background: no-repeat #fff;
  background-size: cover;
}

.background > video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: .2;
}
 @supports (object-fit: cover) {
     .background > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
 }

header {
  width:980px;
  height: 35px;
  background-color: rgb(255, 255, 255, .2);
  margin: 0 auto;
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  transition: opacity .5s;
  transition: all 1.3s ease-in-out 0s;
}

.fa-telegram {
  color: #0088cc;
}

.fa-telegram:hover {
  color: #0088cc;
}

header a {
  text-decoration: none;
  font-size: 1em;
  padding: 0 5px 0 0;
  height: 35px;
  line-height: 35px;
  color: #000;
  border-bottom: .01em dotted rgb(0, 0, 0, .2);
  transition: background-color .25s cubic-bezier(.33, .66, .66);
  text-decoration: none;
  transition: all 0.3s ease-in-out 0.2s;
}

header a:hover {
  background-color: rgb(255, 0, 255, .3);
  text-decoration: none;
  font-weight: normal;
  transition: all 0.3s ease-in-out 0s;
}


header .contact {
 text-align: right;
}

header .contact a {
  text-decoration: none;
  font-size: 1em;
  padding: 0 5px;
  height: 35px;
  line-height: 35px;
  white-space: nowrap;
}

main {
  width:980px;
  border: 5px;
  border-color: #000;
  margin: 0 auto;
  min-height: 100%;
}

h1, h2, li, p, a {
  font-family: 'Roboto Mono', monospace;
}

p {
  text-align: justify;
}

main li {
  list-style-type: none;
  padding-left: 0;
}

main ul, ol {
  padding-left: 10px;
}

img.radiohat {
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
}

footer {
  width:1280px;
  background-color: rgb(255, 255, 255, .2);
  margin: 0 auto;
}

footer p {
  overflow: auto;
  text-align: center;
}
